* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

:root {
  --background-color: #5d56b3;
  --h1-color: #17ff9f;
  --text-color: #ffde00;
  --h1-font: "Bebas Neue", sans-serif;
  --h1-size: 40px;
}
/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--h1-color);
  font-family: var(--h1-font);
  font-size: var(--h1-size);
}

nav a {
  color: var(--background-color);
  text-decoration: none;
}

nav li {
  display: inline-block;
  margin: 0px 1rem;
}

nav img {
  width: 75px;
  height: 75px;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--background-color);
}
